.header {
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 2rem 0;
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--content-padding);
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navLink {
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  font-size: 1.4rem;
  font-weight: 600;
}

.navLink:hover {
  color: var(--primary-color);
}

