.section {
  padding: 4rem var(--content-padding);
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 2rem;
  text-align: center;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projectItem {
  background-color: var(--card-background);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.projectImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.projectTitle {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.projectDescription {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1.1rem;
  flex-grow: 1;
}

.projectLink {
  color: var(--primary-color);
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  text-decoration: none;
}

.projectLink:hover {
  text-decoration: underline;
}

